<div class="row" id="map-row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Quick Share</h3>
      </div>
      <table style="width:100%" class="table">
        <col width="5%">
        <col width="30%">
        <col width="35%">
        <col width="20%">
        <col width="10%">
        <tr>
          <th></th>
          <th>Closest Resource</th>
          <th>Full Address</th>
          <th>Phone</th>
          <th>Distance</th>
        </tr>
        <tr>
          <td style="text-align:right">F:</td>
          <td><a href="/resources/{{closestFoodResource.resource.id}}">{{ closestFoodResource.resource.name }}</a></td>
          <td>{{ closestFoodResource.resource.address }}</td>
          <td>{{ formatPhoneNumber(closestFoodResource.resource.phone) }}</td>
          <td>{{ closestFoodResource.distance | number:2 }} mi.</td>
        </tr> 
        <tr> 
          <td style="text-align:right">H:</td>
          <td><a href="/resources/{{closestHealthResource.resource.id}}">{{ closestHealthResource.resource.name }}</td>
          <td>{{ closestHealthResource.resource.address }}</td>
          <td>{{ formatPhoneNumber(closestHealthResource.resource.phone) }}</td>
          <td>{{ closestHealthResource.distance | number:2}} mi.</td>
        </tr> 
        <tr>
          <td style="text-align:right">S:</td>
          <td><a href="/resources/{{closestShelterResource.resource.id}}">{{ closestShelterResource.resource.name }}</td>
          <td>{{ closestShelterResource.resource.address }}</td>
          <td>{{ formatPhoneNumber(closestShelterResource.resource.phone) }}</td>
          <td>{{ closestShelterResource.distance | number:2}} mi.</td>
        </tr>    
      </table>
    </div>
  </div>
  <div class="col-md-5 well" id="map-container">
    <div id="map"></div>
    <p id="demo"></p>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  function initMap(lat, lng) {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat, lng: lng},
      zoom: 13
    });
    var marker = new google.maps.Marker({
      position: {lat, lng},
      map: map,
      title: 'Your Location'
    });
    <% @resources.each do |resource| %>
    <% if resource.food %>
    <% icon_type = 'foodicon.png' %>
    <% elsif resource.health %>
    <% icon_type = 'healthicon.png' %>
    <% elsif resource.shelter %>
    <% icon_type = 'sheltericon.png' %>
    <% end %>
    var marker = new google.maps.Marker({
      position: {<%= resource.lat_and_long %>},
      map: map,
      title: '<%= "#{resource.name}" %>',
      icon: '<%= image_url(icon_type) %>',
      url: '<%= "/resources/#{resource.id}" %>'
    });
    google.maps.event.addListener(marker, 'click', function() {
      window.location.href = this.url;
    });
    <% end %>
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOyI1tL-V4QeNZSMgXuWDaoX7usnruTJ8&callback=initMap"></script>
