<div class="thanks">
  <p>Thank you for your efforts. We invite you to tell your friends and coworkers about service web</p>
</div>
<%= link_to "Return to Home", "/resources", class: "btn btn-info" %>