<div class="thanks new-resource-form">
  <p>Thank you for your efforts. We invite you to tell your friends and coworkers about service web</p>
  <%= link_to "Return to Home", "/resources", class: "btn btn-info" %>
</div>