
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;

}
.pulse-button {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0 3px rgba(255, 255, 255, .3);
  border: 2px solid rgb(222, 224, 224);
}

.pulse-button:hover {
  cursor:pointer;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from { background-color: #ff1919;}
  50% { background-color: #890000; }
  to { background-color: #ff1919;}
}

#drawer {
  text-align: center;
  padding-top: 10px;
  .glyphicon {
    font-size: 20px;
    color: gray;
  }
  span {
    display: block;
  }
}

div.nowrap-slider {
  overflow-x: auto;
  white-space: nowrap;
}
div.nowrap-slider [class*="col"], /* TWBS v3 */
div.nowrap-slider [class*="span"] {  /* TWBS v2 */
  display: inline-block;
  float: none; /* Very important */
}

#drawer-contents {
  background-color: #eeeeee;
  height: auto;
  -moz-box-shadow:    inset  0  0 8px -8px #000000, 
  inset  0 -8px 8px -8px #000000;
  -webkit-box-shadow: inset  0  0 8px -8px #000000, 
  inset  0 -8px 8px -8px #000000;
  box-shadow:        inset  0  0 8px -8px #000000, 
  inset  0 -8px 8px -8px #000000;
  display: none;
  padding: 10px 0 10px 0;
  .unverified-thumb {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    background-image: image-url('debut_light.png');
  }
}

#chevron:hover {
  color: #555555;
}

#chevron {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home {
  height: 350px;
}

#map-container {
  height: 100%;
  margin-bottom: 25px;
  padding: 5px;
}

#map {
  height: 100%;
  width: 100%;
}

#map-row {
  margin-right:  0px;
  .home-page-buttons {
    text-align: center;
  }
}

.page-header {
  h1 {
    margin-top: -40px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  a:hover {
    text-decoration: none;
  }
  #verify-link {
    margin-top: 8px
  }
}

.new-resource-form {
  text-align: right;
}

.btn-group {
  bottom: 15px;
  position: relative;
  top: 2px;
}

.panel {
  h3 {
    color: rgb(38, 81, 128);
    margin-bottom: 0;
  }
  h4 {
    margin: 5px auto 0 auto;
  }
  a {
    text-decoration: none;
  }
  .caption {
    padding-top: 0;
  }
}

.thumbnail {
  text-align: center;
  padding: 20px;
  margin: 0;
}

.thumbnail-caption {
  h3 {
    margin-top: 0;
  }
}

.glyphicon {
  width: 100%;
  font-size: -webkit-xxx-large;
}

.show-row {
  margin-bottom: 20px;
  h2 {
    margin-top: 0;
  }
}

.main-button {
  background-color: whitespace;
}

.main-button:hover {
  background-color: rgba(41, 133, 232, 0.3);
  transition: 1s;
}

.share-form {
  margin-bottom: 10px;
  h2 {
    margin-top: 0;
  }
}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

#search-results { // ul tag
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  .search-result { // li tags
    list-style: none;
    background-color: white;
    border: 1px solid #cccccc;
    padding: 5px;
  }
  .search-result:hover{
    background-color: rgba(41, 133, 232, 0.7);
    transition: 0.5s;
    cursor: pointer;
  }
}