<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
          <button type='button' class='btn btn-primary'>Sign In</button>
        </div>
      </div>
      <h1>ServiceWeb</h1>
      <h2><small>many resources, one mind</small></h2>
    </div>
    <%= yield %>
  </div>
</body>
</html>