<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
          <button type='button' class='btn btn-primary'>Sign In</button>
        </div>
      </div>
      <h1>ServiceWeb</h1>
      <h2><small>many resources. one mind.</small></h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add A New Resource</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <a href="/resources/new" class="thumbnail">
              <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
              <div class="caption">
                <h3>Food</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4">
            <a href="/resources/new" class="thumbnail">
              <span class="glyphicon glyphicon-bed" aria-hidden="true"></span>
              <div class="caption">
                <h3>Shelter</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4">
            <a href="/resources/new" class="thumbnail">
              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
              <div class="caption">
                <h3>Health</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>